@model IEnumerable<Chat.ServiceReferenceWcf.PrivateMessage>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Private Chat</h2>

    <div class="main">
        
        <div id="chatBody">
            <div id="header"></div>
            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Отправить" />
            </div>
            @foreach (var privateMess in Model)
            { 
                if (privateMess.PrivateMessageChatId == Convert.ToInt32(ViewData["chatId"]) )
                {
                    <div style="color:@privateMess.PrivateMessageColor; font:200;" id="history">
                        
                        @privateMess.PrivateMessageName : @privateMess.PrivateMessageText<br />
                    </div>
                }              
            }
            <div style="color:@ViewData["SenderColor"]; font:200;" id="chatroom"></div>
        </div>
        <input id="hdId" type="hidden" />
        <input id="username" type="hidden" />
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            var chat = $.connection.chatHub;
            // Объявление функции, которая хаб вызывает при получении сообщений
            chat.client.addMessagePrivate = function (chatId,name, message, color) {
                // Добавление сообщений на веб-страницу
                console.log(@ViewData["chatId"])
                console.log(chatId)
                if (@ViewData["chatId"]== chatId) {
                    $('#chatroom').append('<span style="color:' + htmlEncode(color) + '"><b>' + htmlEncode(name) + '</b>: ' + htmlEncode(message) + '</span><br/>');
                }
            };
            // Функция, вызываемая при подключении нового пользователя
            chat.client.onConnected = function (id, userName, allUsers) {
                // установка в скрытых полях имени и id текущего пользователя
                $('#hdId').val(id);
                $('#username').val(userName);
                $('#header').html('<h3>Добро пожаловать, ' + userName + '</h3>');
                // Добавление всех пользователей
                for (i = 0; i < allUsers.length; i++) {
                    AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
                }
            }
            // Добавляем нового пользователя
            chat.client.onNewUserConnected = function (id, name) {
                AddUser(id, name);
            }
            // Удаляем пользователя
            chat.client.onUserDisconnected = function (id, userName) {
                $('#' + id).remove();
            }
            // Открываем соединение
            $.connection.hub.start().done(function () {

                $('#sendmessage').click(function () {
                    // Вызываем у хаба метод Send
                    chat.server.sendPrivate('@ViewData["chatId"]','@ViewData["SenderId"]', '@ViewData["SenderName"]', '@ViewData["SenderColor"]', $('#message').val());
                    $('#message').val('');
                });
                // обработка логина
                $("#btnLogin").click(function () {

                    var name = $("#txtUserName").val();
                    if (name.length > 0) {
                        chat.server.connect(name);
                    }
                    else {
                        alert("Введите имя");
                    }
                });
            });
        });
        // Кодирование тегов
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        //Добавление нового пользователя
        function AddUser(id, name) {
            var userId = $('#hdId').val();

            if (userId != id) {
                $("#chatusers").append('<p id="' + id + '"><b>' + name + '</b></p>');
            }
        }
    </script>
</body>
</html>